<div id="center">
<button (click)="bold_Text()">bold</button>
<button (click)="italic_Text()"> italic</button>
<button (click)="bg_Color()">bg color</button>
<button class="blue" (click)="textColor()">blue</button>
<button (click)="increase_font()" >A+</button>
<button (click)="decrease_font()"> A-</button>
<button  (click)=" reset_All()">reset</button>
</div>

<div [style.font-weight]="bold_text"  [style.font-style]="italic_text" [style.background-color]="bg_color"  [style.font-size.px]="font_size"
[style.color]="text_color">
Angular took a lot of the community by storm when it was first released in 2010. Back then libraries like dojo, backbone, and knockout were at-large when it came to developing large web applications.
</div>


